$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

#search, #weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#search {
  input {
    height: 50px;
    width: 40vw;
    min-width: 300px;
    padding: 8px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid rgba( $black, .4 );
  }

  input:focus {
    outline-color: rgba( $black, .1 );
  }
}

#weather {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#weather-modal {
  background-color: rgba( $white, .7 );
  border: 1px solid rgba( $white, .9 );
  padding: 12px;
  border-radius: 5px;
}