$black: rgb(0, 0, 0);

body, html {
    font-family: "Roboto", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
}

#nav {
  position: absolute;

  a {
    text-decoration: none;
  }
}

#search, #weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#search {
  input {
    height: 50px;
    width: 40vw;
    min-width: 300px;
    padding: 8px;
    font-size: 1em;
  }
}

#weather {
  #weather-modal {
    #weather-modal-currently {
      .icon {}
      .temp {}
    }

    #weather-modal-hourly {
      .summary {}

      .hourly-card {
        .time {}

        .temp {}
      }
    }
  }
  
}